@import "@@/__variables";

.aibees {
    font-family: 'Nanum Gothic';
    width: 90%;
    height: 95vh;
    background-color: white;
    min-width: 1150px;
    margin: auto;
    padding-top: 17px;

    .aibees-header {
        display: flex;
        justify-content: space-between;

        #aibees-header-title {
            float: left;
            font-weight: bolder;
            font-size: 20px;
        }
        #aibees-header-search {
            float: right;
            font-weight: bolder;
            font-size: 20px;
        }
    }

    .aibees-popup-image {
        display:none;
        position: absolute;
        width:100%;
        height: 100%;
        left: 0;
        top: 0;

        .popupImageBack {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            opacity: 60%;
            width:100%;
            height: 100%;
            background-color: black;
        }

        img {
            margin-top: 20vh;
            position: relative;
            width: 80%;
            height: auto;
            opacity: 100%;
            z-index: 2;
        }

        button {
            position: absolute;
            border: none;
            border-radius: 2px;
            top: 70px;
            right: 70px;
            z-index: 3;
        }
    }

    @include mobile {
        min-width: 0;
        max-width: 600px;

        .aibees-popup-image {
            display:none;
            position: absolute;
            width:100%;
            height: 100%;
            left: 0;
            top: 0;

            .popupImageBack {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                opacity: 60%;
                width:100%;
                height: 100%;
                background-color: black;
            }

            img {
                margin-top: 20vh;
                position: relative;
                width: 80%;
                height: auto;
                opacity: 100%;
                z-index: 2;
            }

            .input-box {
                margin: 20vh auto 0;
                padding: 20px 0 40px;
                border-radius: 5px;
                background-color: white;
                position: relative;
                width: 80%;
                height: auto;
                opacity: 100%;
                z-index: 2;
            }

            .mkdirPopupLabel {
                
            }

            .mkdirButtons {
                display: flex;
                justify-content: center;
                .mkdirButton {
                    position: inherit;
                    border: none;
                    width: 100px;
                    height: 30px;
                    margin: 15px;
                }
            }

            .closePopup {
                position: absolute;
                border: none;
                border-radius: 2px;
                top: 70px;
                right: 70px;
                z-index: 3;
            }
        }

        .aibees-header {
            display: block;
            border-bottom: 2px solid darkgray;

            .aibees-header-title {
                font-weight: bolder;
                font-size: 20px;
                margin: 30px 0;
            }
            .aibees-header-search {
                font-weight: bolder;
                font-size: 20px;

                span {
                    display: block;
                    position: relative;
                    width: 450px;
                    margin: 10px auto 20px;
                    #fileSearch {
                        width: 440px;
                        height: 25px;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 10px;
                        font-size: 16px;
                        background-color: rgba(236, 236, 236, 0.719);
                    }

                    button {
                        width: 31px;
                        height: 31px;
                        position: absolute;
                        right: 1px;
                        top: 2px;
                        font-size: large;
                        font-weight: bold;
                        background: transparent;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
            .aibees-header-buttons {
                width: 440px;
                margin: 15px auto 20px;
                display: flex;
                justify-content: space-between;
                .buttons-left {
                    float: left;
                    #uploadButton {
                        color: white;
                        background-color: #4078ff;
                        font-weight: 850;
                    }
                    .headerButton {
                        padding: 5px 10px;
                        margin-right: 7px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                }
                .buttons-right {
                    float: right;
                }
            }
        }

        .aibees-body {

            .aibees-body-condition {
                text-align: left;
                background-color: beige;
                height: 30px;

                span {
                    margin-left: 10px;
                    font-family: 'Malgun Gothic';
                    font-size: 14px;
                    font-weight: 680;
                }
            }
            .aibees-body-list {
                ul {
                    list-style: none;
                    padding-inline: 20px;
                    li {
                        
                        .listItem {
                            display: flex;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            border-bottom: 1px solid rgb(231, 231, 231);
    
                            .item-left-image {
                                flex: 2;
                                width: 60px;
                                height: 60px;
                                img {
                                    width: 90%;
                                    height: 90%;
                                    margin: 2.5px auto;

                                    object-fit: cover;
                                }
                            }
                            .item-left-image:hover {
                                cursor:pointer;
                            }
                            .item-center-display {
                                flex: 5;
                                margin-left: 20px;
                                display: inline-block;
                                text-align: left;
                                .display-name {
                                    font-size: 16px;
                                    text-align: left;
                                    font-weight: 700;
                                }
                                .display-meta-path {
                                    letter-spacing: 1.1px;
                                    margin-top: 5px;
                                    font-size: 13px;
                                    text-align: left;
                                    font-weight: 650;
                                    color: rgb(190,190,190);
                                }
                            }
                            .item-right-buttons {
                                flex: 3;
                                margin: auto;

                                button {
                                    margin-left: 5px;
                                    border: none;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        .aibees-add {
            width: fit-content;
            position: absolute;
            right: 50px;
            bottom: 50px;
        }
    }
}