@use '@@/common.scss' as *;
@use '@@/__variables.scss' as *;

body {
    background-color: #efefef;
    margin: 0;
}

#app {
    margin: 0;
    max-width: none;
    width: 100%;
    height: 100%;
    font-family: 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: $color-white;
}