// Home.vue
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import "__variables";

.container {
    width: 90%;
    height: 670px;
    display: block;


    #left {
        float:left;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color: #fff2a8;

        a img {
            margin: auto;
            width: 100%;
        }
        @include semiMobile {
            float:none;
            width: 100%;
            height: 50%;

            
            a {
                width: inherit;
                height: 100%;
                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
    #right {
        float:right;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color: #aaffaa;

        a img {
            display:block;
            margin: 0 auto;
            width: 100%;
        }
        @include semiMobile {
            float:none;
            width: 100%;
            height: 50%;
            
            a {
                width: inherit;
                height: 100%;
                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
  }