@use '@@/__variables.scss' as *;

$icon-inactive: #000; // 비활성 아이콘/라벨 (gray-400)
$icon-active: #fff;   // 활성 아이콘/라벨 (white)

#footer {
    background-color: #fefefe;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #525252;

    .footer-nav {
        height: 100%;

        .footer-nav-list {
            height: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            align-items: center;
            margin: 0;
            padding: 0 8px calc(env(safe-area-inset-bottom, 0));
            list-style: none;
        }

        .footer-nav-item {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            
            .footer-nav-link {
                display: inline-flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                font-size: 14px;
                color: #000;

                .footer-nav-icon {
                    // 아이콘은 SVG innerHTML로 받으므로 크기 통일
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    color: $icon-inactive;
                    fill: currentColor;
                
                    &.is-active {
                    color: $icon-active;
                    }
                }

                &.is-active {
                    color: #fff;
                    background-color: #6c23e2;
                }
            }
        }
    }

    @include web {
        position: static;

        .footer-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 3px solid $color-border-frame;
            box-shadow: $color-shadow-frame;

            .logo {
                display: flex;
                text-align: center;
                align-items: center;
                img {
                    width: auto;
                    height: 80%;

                }
            }

            .footer-nav-list {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0;
                padding: 0 8px calc(env(safe-area-inset-bottom, 0));
                list-style: none;
                gap: 20px;
            }

            .footer-nav-item {
                display: flex;
                width: fit-content;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                
                .footer-nav-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    -webkit-tap-highlight-color: transparent;
                    font-size: 14px;
                    color: #000;

                    &.is-active {
                        color: #6c23e2;
                        font-weight: 800;
                        font-size: 17px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}