@use '@@/__variables.scss' as *;

.d-search-section {
        .d-condition-row {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            &--mobileGroup {
                display: none; // 데스크탑에서는 숨김
                margin-top: 10px;
            }
        }

        .d-condition-actions {
            display: flex;
            gap: 12px;
            justify-content: end;
            align-items: center;
            margin-top: 12px;
        }

        @include mobile {
            .d-condition-row {
                display: flex;
                gap: 0;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
}