@use '@@/__variables.scss' as *;
@use '@@/common.scss' as *;

.n-button {
    height: $button-height;
    display: flex;
    align-items: center; /* 세로 정렬 중앙 */
    justify-content: center; /* 버튼 내부 중앙 정렬 */
    color: #fafafa;
    border: none;
    border-radius: $border-radius;
    font-size: $font-size;
    font-weight: $font-weight-bold;
    cursor: pointer;
    padding: 0px 15px;
    transition: background-color 0.2s;

    .inner {
        width: auto;
        display: flex;
        align-items: center; /* 세로 정렬 중앙 */
        justify-content: center; /* 버튼 내부 중앙 정렬 */
        gap: 6px;
    }
}

.n-button:disabled {
    background-color: #e4e4e4;
    color: #1e1e1e;
}

.outline {
    color: #1e1e1e;
    background: #fff;
    border: 2px solid #1e1e1e;

    &:hover {
        background-color: #e1e1e1;
    }
}

.save {
    background-color: #2db400;

    &:hover {
        background-color: #2c9409;
    }
}

.primary {
    color: #fff;
    background: #117ce9;

    &:hover {
        background: #06509f;
    }
}

.delete {
    color: #fff;
    background: #e93d3d;

    &:hover {
        background: rgb(194, 9, 9);
    }
}